<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   Rate-It

   Created by Sergey Sevriugin on 17/02/2020.
   Copyright (c) 2020 cuberto. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
